{#
    Answer section:
    - This contains the content for each answer.
    - When clicked, the primary "Next" CTA checks the Answer radio input shown above.
#}
<article answer="{{ question.num }}" ca="{{ question.ca }}">
    {% if question.ca == "False" %}
        <img class="desktop" src="https://fs.hubspotusercontent00.net/hubfs/2661559/Teneo/Work%20from%20Anywhere%20-%20Lie%20Detector/false-header-big.png" alt="False!">
        <img class="mobile" src="https://fs.hubspotusercontent00.net/hubfs/2661559/Teneo/Work%20from%20Anywhere%20-%20Lie%20Detector/mobile-false-header-big.png" alt="False!">
    {% endif %}
    {% if question.ca == "True" %}
        <img class="desktop" src="https://fs.hubspotusercontent00.net/hubfs/2661559/Teneo/Work%20from%20Anywhere%20-%20Lie%20Detector/true-header-big.png" alt="True!">
        <img class="mobile" src="https://fs.hubspotusercontent00.net/hubfs/2661559/Teneo/Work%20from%20Anywhere%20-%20Lie%20Detector/mobile-true-header-big.png" alt="True!">
    {% endif %}
    <p class="explanation">{{ question.answer.copy | safe }}</p>
    <div class="cta_container">
        <label for="input-answer-{{ question.num }}" class="cta primary"><span class="text">Next</span></label>
        <a href="{{ question.answer.link }}" target="_blank" class="cta tertiary">
            <span class="text">Learn more</span>
            <svg width="11" height="12" viewBox="0 0 11 12" fill="none" style="margin-top: 4px;" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.550253 1.05021H10.4497M10.4497 1.05021V10.9497M10.4497 1.05021L0.550253 10.9497" stroke="white"/>
            </svg>
        </a>
    </div>
</article>