{# page meta info #}
{% set page_title = "The TRUTH About IT Right Now - Take the Quiz | Teneo" %}
{% set page_description = "What are the secret stressors and misconceptions affecting IT teams? Take our interactive quiz and separate the IT truths from the IT falsehoods." %}
{% set typekit_link = "https://use.typekit.net/dyv1pfw.css" %}

{# Basic HTML Boilerplate code to contain content #}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page_description }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="apple-touch-icon" sizes="76x76" href="https://fs.hubspotusercontent00.net/hubfs/2661559/Teneo/Work%20from%20Anywhere%20-%20Lie%20Detector/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://fs.hubspotusercontent00.net/hubfs/2661559/Teneo/Work%20from%20Anywhere%20-%20Lie%20Detector/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://fs.hubspotusercontent00.net/hubfs/2661559/Teneo/Work%20from%20Anywhere%20-%20Lie%20Detector/favicon-16x16.png">

    <link rel="stylesheet" href="{{ typekit_link }}">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="./css/index.css">
  </head>
  <body>
    <main>
      {{ content | safe }}
    </main>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="./js/script.js"> </script>
  </body>
</html>