<section id="form-container">
    <div class="form-content">
        <div class="toggle_form">
            <svg viewBox="0 0 110 110" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="55" cy="55" r="55" fill="#002858"/>
                <line x1="40.4346" y1="39.0202" x2="71.7074" y2="70.2929" stroke="white" stroke-width="2"/>
                <line x1="70.9796" y1="39.7071" x2="39.7068" y2="70.9798" stroke="white" stroke-width="2"/>
            </svg>
        </div>
        <article>
            <h2 class="heading">{{ content.form.title }}</h2>
        </article>
        <form action="">
            {% for field in content.form.fields %}
                <label for="{{ field.label | lower | replace('','') }}" class="row">
                    <span class="field_title">{{ field.label }}</span>
                    {% if field.type == "select" %}
                        <select name="{{ field.label | lower }}" id="{{ field.label | lower | replace('','') }}">
                            {% for option in field.options %}
                                <option value="{{ option }}">{{ option }}</option>
                            {% endfor %}
                        </select>
                    {% else %}
                        <input type="{{ field.type }}" placeholder="{% if field.placeholder %}{{ field.placeholder }}{% else %}Your {{ field.label | lower }}{% endif %}" id="{{ field.label | lower | replace('','') }}">
                    {% endif %}
                </label>
            {% endfor %}
            <button type="submit" class="cta secondary">
                <span class="text">{{content.form.cta}}</span>
            </button>
        </form>
    </div>
</section>