<section class="animations">
    {# Desktop #}
    <lottie-player src="https://assets6.lottiefiles.com/private_files/lf30_2v019dqo.json" background="transparent" speed="1" loop autoplay class="idle desktop"></lottie-player>
    <lottie-player src="https://assets9.lottiefiles.com/private_files/lf30_o3zxp3ys.json" background="transparent" speed="1" loop class="false desktop hide"></lottie-player>
    <lottie-player src="https://assets9.lottiefiles.com/private_files/lf30_ifuzb78m.json" background="transparent" speed="1" loop class="true desktop hide"></lottie-player>
    {# Mobile #}
    <lottie-player src="https://assets6.lottiefiles.com/private_files/lf30_zsfwaun0.json" background="transparent" speed="1" loop autoplay class="idle mobile"></lottie-player>
    <lottie-player src="https://assets6.lottiefiles.com/private_files/lf30_bmfyyyl0.json" background="transparent" speed="1" loop class="false mobile hide"></lottie-player>
    <lottie-player src="https://assets6.lottiefiles.com/private_files/lf30_vqxxev4d.json" background="transparent" speed="1" loop class="true mobile hide"></lottie-player>
</section>