<section class="animations">
    <div class="lottie-player idle" background="transparent"></div>
    <div class="lottie-player true" background="transparent"></div>
    <div class="lottie-player false" background="transparent"></div>
</section>