{% extends "card.njk" %}
{#
    Set the item_num to the question details.
    This ensures the cards/pages are shown/hidden in the correct order.
#}
{% set item_num = question.num %}

{% block content %}
    <article>
        {# Progress bar, the current attribute is used by the CSS to highlight completed steps. #}
        <ul class="progress_bar" current="{{ item_num }}">
            <li class="indicator indicator-1">1</li>
            <li class="indicator indicator-2">2</li>
            <li class="indicator indicator-3">3</li>
            <li class="indicator indicator-4">4</li>
            <li class="indicator indicator-5">5</li>
            <li class="indicator indicator-6">6</li>
            <li class="indicator indicator-7">7</li>
            <li class="indicator indicator-8">8</li>
            <li class="indicator indicator-9">9</li>
            <li class="indicator indicator-10">10</li>
        </ul>
        {# Misc. content #}
        <p class="statement">{{ question.content.statement | safe }}</p>
        <h2 class="question">{{ question.content.question | safe }}</h2>
        {#
            CTA container:
            - Sets up the question inputs depending on the value of question.ca ("True"/"False")
            - String value, not Boolean.
        #}
        <div class="cta_container">
            {% if question.ca == "False" %}
                <label for="question-{{ item_num }}-incorrect" class="cta primary"><span class="text">True</span></label>
                <label for="question-{{ item_num }}-correct" class="cta secondary"><span class="text">False</span></label>
            {% else %}
                <label for="question-{{ item_num }}-correct" class="cta primary"><span class="text">True</span></label>
                <label for="question-{{ item_num }}-incorrect" class="cta secondary"><span class="text">False</span></label>
            {% endif %}
        </div>
    </article>
    <picture>
        {# Contains mobile & desktop placeholder images. Lottie files pending. #}
        {# <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_jqtrvhhf.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop autoplay> #}
        <img src="https://s3-alpha-sig.figma.com/img/4994/68c5/0fa2dc62069056406e9fb0e54a6628ef?Expires=1640563200&Signature=Of459oV6Cttr3ISqui~qLRXdveZedmj-PUBN0K1OgpvOM0ktTVDTqdc4yUpGvxUXUoK~zX4UyDFeTpk6SBkLp~xWIESb~DkgpEC9ZOhTo-0IZUDAQr3janQEa0jLmgaGGZKcA~WgYbS5EnPkja0uplzTr5640FP7WJnKpxCzwajwQZauwK38DJEzUhQRdJ9ACin6koLwke0udowXgTY7MxG4w5p5817d8jv0fdXBwuPBBvbLKy3ErzYiOa-fntjVTMMnOfOkcXLGM6mqnBrnRc--5E5W3LCAxJgYLcS0DlJGguf9D2Bd46RGg8km6fEvXpyvfNtKCAm2F2aTN7vd9w__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" class="placeholder desktop" />
        <img src="https://fs.hubspotusercontent00.net/hubfs/2661559/Teneo/Work%20from%20Anywhere%20-%20Lie%20Detector/mld.png" class="placeholder mobile">
    </picture>
{% endblock %}