{% extends "core_layout.njk" %}
{% set item_id = question.id %}
{% set item_num = question.num %}

{% block content %}
    <p class="statement">{{ question.content.statement | safe }}</p>
    <h2 class="question">{{ question.content.question | safe }}</h2>
    <div class="cta_container">
        {% if question.ca == "False" %}
            <label for="question-{{ item_num }}-incorrect" class="cta">True</label>
            <label for="question-{{ item_num }}-correct" class="cta">False</label>
        {% else %}
            <label for="question-{{ item_num }}-correct" class="cta">True</label>
            <label for="question-{{ item_num }}-incorrect" class="cta">False</label>
        {% endif %}
    </div>
    <ul class="progress_bar" current="{{ item_num }}">
        <li class="indicator indicator-1">1</li>
        <li class="indicator indicator-2">2</li>
        <li class="indicator indicator-3">3</li>
        <li class="indicator indicator-4">4</li>
        <li class="indicator indicator-5">5</li>
        <li class="indicator indicator-6">6</li>
        <li class="indicator indicator-7">7</li>
        <li class="indicator indicator-8">8</li>
        <li class="indicator indicator-9">9</li>
        <li class="indicator indicator-10">10</li>
    </ul>
{% endblock %}