{% extends "core_layout.njk" %}
{% set item_num = "0" %}
{% set item_id = "Start Page" %}

{% block content %}
    <h1 class="hero_title">{{ content.startPage.content.hero_title | safe }}</h1>
    <h2 class="hero_subheading">{{ content.startPage.content.hero_subheading | safe }}</h2>
    <p class="hero_body">{{ content.startPage.content.hero_body | safe }}</p>
    <label for="question-0-correct" class="hero_cta">{{ content.startPage.content.hero_CTA | safe }}</label>
{% endblock %}