#form-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    overflow: auto;
    position: fixed;
    padding: 0 var(--outer-padding);

    & .form_bg {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        position: absolute;
        background: rgba(0,0,0,.35);
    }

    & .form-content {
        width: 100%;
        display: flex;
        max-width: 1280px;
        position: relative;
        margin: 3rem auto 1rem;
        padding: 6.96% var(--outer-padding) 6.96% 0;

        background: var(--mango-gradient-v);

        @media screen and (max-width: 767px) {
            padding-left: var(--outer-padding);
            flex-direction: column;
        }
        
        & .hbspt-form {
            width: 100%;
            display: flex;
            max-width: 622px;
            padding: 42px 28px;
            flex-direction: column;
            background: rgba(255, 255, 255, 0.8);

            & .hs-form-field {
                display: flex;
                flex-direction: column;

                & label,
                & select,
                & input {
                    width: 100%;
                    font-size: 13px;
                }

                & label {
                    font-weight: 500;
                    margin-bottom: 0;
                    text-transform: capitalize;
                }

                & select,
                & input {
                    background: #fff;
                    margin-bottom: 10px;
                }
            }

            & .hs-error-msgs {
                padding: 0;
                font-weight: 500;
                color: var(--red);
                margin: 0 18px 1rem;
                font-family: var(--ff-1);
                text-transform: capitalize;
            }

            & .hs-error-msgs li {
                font-size: 13px;
            }

            & .hs-button.primary.large {
                color: #fff;
                background: var(--blue);
            }
        }

        & .heading {
            color: black;
            line-height: 1.2;
            font-weight: 400;
            margin-top: 42px;
            font-size: 2.5rem;
            font-family: var(--ff-2);
            
            @media screen and (max-width: 768px) {
                font-size: 2rem;
            }
        }
    }
}

.toggle_form {
    cursor: pointer;
}

body:not(.show_form) #form-container {
    display: none;
}

body.show_form {
    overflow: hidden;
}