#form-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    overflow: auto;
    position: fixed;
    background: rgba(0,0,0,.35);
    padding: 0 var(--outer-padding);

    & .form-content {
        --close-icon-size: 110px;
        width: 100%;
        display: flex;
        max-width: 1280px;
        position: relative;
        margin: var(--close-icon-size) auto 1rem;
        padding: calc((var(--close-icon-size) / 2) + 40px) var(--outer-padding) 6.96% 0;

        background-size: cover;
        background-position: center center;
        background-color: var(--mango-gradient-v);
        background-image: url("https://fs.hubspotusercontent00.net/hubfs/2661559/Teneo/Work%20from%20Anywhere%20-%20Lie%20Detector/Group%204-1.png");

        @media screen and (max-width: 767px) {
            padding-left: var(--outer-padding);
            flex-direction: column;
        }

        & .toggle_form {
            top: 0;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);

            & svg {
                width: var(--close-icon-size);
                height: var(--close-icon-size);
            }
        }
        
        & form {
            width: 100%;
            max-width: 622px;
            padding: 42px 28px;
            background: rgba(255, 255, 255, 0.8);

            &,
            & label {
                display: flex;
                flex-direction: column;
            }

            & .cta {
                place-self: flex-end;
            }
        }

        & .heading {
            color: black;
            line-height: 1.2;
            font-weight: 400;
            margin-top: 42px;
            font-size: 2.5rem;
            font-family: var(--ff-2);
            
            @media screen and (max-width: 768px) {
                font-size: 2rem;
            }
        }
    }
}

.toggle_form {
    cursor: pointer;
}

body:not(.show_form) #form-container {
    display: none;
}

body.show_form {
    overflow: hidden;
}