[name="answer-0"]:not(:checked) ~ [page="q0"],
[name="answer-0"]:checked ~ [page="q1"],
[name="answer-1"]:checked ~ [page="q2"],
[name="answer-2"]:checked ~ [page="q3"],
[name="answer-3"]:checked ~ [page="q4"],
[name="answer-4"]:checked ~ [page="q5"],
[name="answer-5"]:checked ~ [page="q6"],
[name="answer-6"]:checked ~ [page="q7"],
[name="answer-7"]:checked ~ [page="q8"],
[name="answer-8"]:checked ~ [page="q9"],
[name="answer-9"]:checked ~ [page="q10"],
[name="answer-10"]:checked ~ [page="q11"],
[name="question-1"]:checked ~ [page="a1"],
[name="question-2"]:checked ~ [page="a2"],
[name="question-3"]:checked ~ [page="a3"],
[name="question-4"]:checked ~ [page="a4"],
[name="question-5"]:checked ~ [page="a5"],
[name="question-6"]:checked ~ [page="a6"],
[name="question-7"]:checked ~ [page="a7"],
[name="question-8"]:checked ~ [page="a8"],
[name="question-9"]:checked ~ [page="a9"],
[name="question-10"]:checked ~ [page="a10"],
[name="question-11"]:checked ~ [page="a11"],
[name="answer-10"]:checked ~ header nav {
    opacity: 1;
    pointer-events: auto;
}

section[page],
[name="question-0"]:checked ~ [page="q0"],
[name="question-1"]:checked ~ [page="q1"],
[name="question-2"]:checked ~ [page="q2"],
[name="question-3"]:checked ~ [page="q3"],
[name="question-4"]:checked ~ [page="q4"],
[name="question-5"]:checked ~ [page="q5"],
[name="question-6"]:checked ~ [page="q6"],
[name="question-7"]:checked ~ [page="q7"],
[name="question-8"]:checked ~ [page="q8"],
[name="question-9"]:checked ~ [page="q9"],
[name="question-10"]:checked ~ [page="q10"],
[name="answer-0"]:checked ~ [page="a0"],
[name="answer-1"]:checked ~ [page="a1"],
[name="answer-2"]:checked ~ [page="a2"],
[name="answer-3"]:checked ~ [page="a3"],
[name="answer-4"]:checked ~ [page="a4"],
[name="answer-5"]:checked ~ [page="a5"],
[name="answer-6"]:checked ~ [page="a6"],
[name="answer-7"]:checked ~ [page="a7"],
[name="answer-8"]:checked ~ [page="a8"],
[name="answer-9"]:checked ~ [page="a9"],
[name="answer-10"]:checked ~ [page="a10"],
[name="answer-10"]:not(:checked) ~ header nav {
    opacity: 0;
    pointer-events: none;
}

[name="answer-0"]:not(:checked) ~ [page="q0"],
[name="answer-0"]:checked ~ [page="q1"],
[name="answer-1"]:checked ~ [page="q2"],
[name="answer-2"]:checked ~ [page="q3"],
[name="answer-3"]:checked ~ [page="q4"],
[name="answer-4"]:checked ~ [page="q5"],
[name="answer-5"]:checked ~ [page="q6"],
[name="answer-6"]:checked ~ [page="q7"],
[name="answer-7"]:checked ~ [page="q8"],
[name="answer-8"]:checked ~ [page="q9"],
[name="answer-9"]:checked ~ [page="q10"],
[name="answer-10"]:checked ~ [page="q11"] {
    & article {
        transform: translate(0, 0);
    }
}

[name="question-1"]:checked ~ [page="a1"],
[name="question-2"]:checked ~ [page="a2"],
[name="question-3"]:checked ~ [page="a3"],
[name="question-4"]:checked ~ [page="a4"],
[name="question-5"]:checked ~ [page="a5"],
[name="question-6"]:checked ~ [page="a6"],
[name="question-7"]:checked ~ [page="a7"],
[name="question-8"]:checked ~ [page="a8"],
[name="question-9"]:checked ~ [page="a9"],
[name="question-10"]:checked ~ [page="a10"],
[name="question-11"]:checked ~ [page="a11"] {
    transform: translate(0, 0);
}

[page^="q"] article {
    transition: all .3s ease-in;
    transform: translate(0, -100%);
}

[page="q1"] article,
[page^="a"] {
    transform: translate(100%, 0);
}

.input-answer {
    display: none;
}

.progress_bar {
    display: flex;
    padding: 0;
    margin: 0 0 10.54vh;

    & .indicator {
        width: 29px;
        height: 10px;
        margin-right: 7px;
        border-radius: 6px;

        font-size: 0;
        color: transparent;
        background: var(--blue);
    }

    &[current="1"] .indicator-1 ~ .indicator,
    &[current="2"] .indicator-2 ~ .indicator,
    &[current="3"] .indicator-3 ~ .indicator,
    &[current="4"] .indicator-4 ~ .indicator,
    &[current="5"] .indicator-5 ~ .indicator,
    &[current="6"] .indicator-6 ~ .indicator,
    &[current="7"] .indicator-7 ~ .indicator,
    &[current="8"] .indicator-8 ~ .indicator,
    &[current="9"] .indicator-9 ~ .indicator,
    &[current="10"] .indicator-10 ~ .indicator {
        background: var(--lightblue);
    }
}