:root {
    /* Color variables */
    --white: #fff;
    --red: #DA4F41;
    --blue: #002858;
    --grey: #474747;
    --aegean: #468192;
    --orange: rgba(246, 158, 15, 1);
    --lightblue: rgba(148, 179, 239, 0.28);
    --mango-gradient: linear-gradient(to right, #F69E0F, #E9CB53);
    --mango-gradient-v: linear-gradient(to bottom, #F69E0F, #E9CB53);
    --blue-gradient: linear-gradient(to right, #002858, #5CA39A);
    
    /* Font variables */
    --fs: 16px;
    --fc: rgba(55, 63, 65, 1);
    --ff-1: sofia-pro, sans-serif;
    --ff-2: neue-haas-grotesk-display, sans-serif;
    
    /* CTA dimension/spacing variables */
    --cta-width: 163px;
    --cta-height: 50px;
    --cta-spacing: 35px;
    
    /* Misc. element dimension/spacing variables */
    --outer-padding: 5.9vw;
    --header-height: 18.75vh;
    --animation-height: 100vh;
    --progress-height: calc(6vh + 8px);
    --menu-width: calc((var(--cta-width) * 2) + var(--cta-spacing) + (var(--outer-padding) * .9) );

    @media screen and (max-width: 767px) {
        --header-height: 11.61vh;
        --animation-height: 160px;
    }
}

* {
    box-sizing: border-box;
}

/* Generic font styling */
h1, h2, h3, h4, h5, h6, p, body, form input, form select, form option {
    color: inherit;
    font-weight: 300;
    font-style: normal;
    line-height: 1.625;
    font-size: var(--fs);
    letter-spacing: 0.02ch;
    font-family: var(--ff-1);
}

form input,
form select,
form option {
    color: black;
    font-size: 1rem;
    padding: 1rem .875rem;
    border: 1px solid #dddedd;

    margin: 0;
    
    &::placeholder {
        color: rgba(189, 193, 195, 1);
    }
}

form input {
    margin-top: 2px;
}

form label {
    margin-bottom: 10px;

    &:last-of-type {
        margin-bottom: 25px;
    }
}

body {
    /* Only set color on body to prevent specificity conflicts further on down the road */
    color: var(--fc);
}

label {
    cursor: pointer;
}

picture, img {
    width: 100%;
    max-width: 100%;
}

.hide {
    display: none;
}

.bold {
    font-weight: 600;
}

.no-decoration {
    text-decoration: none !important;
}

.dropdown-container {
    position: relative;

    & .dropdown-children {
        left: 0;
        right: 0;
        top: 100%;
        display: none;
        position: absolute;
        flex-direction: column;
    }

    & .icon {
        @media screen and (max-width: 767px) {
            transform: translateY(-2px);
        }
    }

    &.active {
        & .dropdown-children {
            display: flex;
        }

        & .icon {
            transform: rotate(180deg);
            
            @media screen and (max-width: 767px) {
                transform: translateY(-2px) rotate(180deg);
            }
        }
    }
}

/* Quick and easy responsive classes  */
@media screen and (min-width: 768px) {
    .mobile {
        display: none !important;
    }   
}
@media screen and (max-width: 767px) {
    .desktop {
        display: none !important;
    }   
}