header {
    /* positioning & size */
    z-index: 2;
    position: relative;
    height: var(--header-height);
    padding: 0 var(--outer-padding);
    
    /* Flex styles */
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* Logo dimensions */
    & #logo {
        z-index: 10;
        position: relative;

        & svg {
            width: 130px;
            @media screen and (max-width: 767px) {
                width: 106px;
            }
        }
    }

    & nav {
        display: none;
        /* Nav/child positioning & placement */
        flex-grow: 1;
        text-align: center;
        align-items: center;
        justify-items: space-between;
        
        /* Nav font styles */
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.2rem;
        
        /* Nav item spacing */
        & a {
            padding: 0 1ch;
            &:not(:hover) {
                text-decoration: none;
            }
        }
    }
}

.results.active_page ~ header nav {
    display: flex;
    justify-content: flex-end;
    
    & [href="#mobile_menu"] {
        margin: 0;
    }
}

#resources {
    font-size: 1rem;
    font-weight: 300;
    text-align: left;
    background: white;
    padding: 1.8125rem 2rem;
    width: var(--menu-width);

    & a {
        color: var(--blue);
        &:not(:last-child) {
            margin-bottom: 1.625rem;
        }
    }
}

#mobile_menu {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    position: fixed;
    
    align-items: center;
    flex-direction: column;

    background: var(--blue);
    padding: 19.89vh 13.75vw 14.43vh;

    &,
    & a:not(.cta) {
        color: white;
        font-weight: 300;
        line-height: 1.71;
        font-size: .875rem;
    }

    & > a:not(.cta),
    & > span {
        &:not(:last-child) {
            margin-bottom: 1.625rem;
        }
    }

    & > span {
        font-size: 1rem;
    }

    & .cta {
        color: white;
        margin-top: 10px;
    }

    & [href="#mobile_menu"] {
        margin: 0;
        position: absolute;
        transform: translateY(-50%);
        right: var(--outer-padding);
        top: calc(var(--header-height) / 2);
    }
}

/* This handles the logo fill color on mobile to ensure it's correct on
    the answer pages */
[name="answer-1"]:not(:checked) ~ [name="question-1"]:checked,
[name="answer-2"]:not(:checked) ~ [name="question-2"]:checked,
[name="answer-3"]:not(:checked) ~ [name="question-3"]:checked,
[name="answer-4"]:not(:checked) ~ [name="question-4"]:checked,
[name="answer-5"]:not(:checked) ~ [name="question-5"]:checked,
[name="answer-6"]:not(:checked) ~ [name="question-6"]:checked,
[name="answer-7"]:not(:checked) ~ [name="question-7"]:checked,
[name="answer-8"]:not(:checked) ~ [name="question-8"]:checked,
[name="answer-9"]:not(:checked) ~ [name="question-9"]:checked,
[name="answer-10"]:not(:checked) ~ [name="question-10"]:checked,
[name="answer-0"]:not(:checked)
.results:not(.active) {
    & ~ header #logo svg path {
        @media screen and (min-width: 768px) {
            fill: white;
        }
    }
}

.answers.active ~ header,
.start.active_page ~ header {
    display: none;
}