header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    position: absolute;
    height: var(--header-height);

    display: flex;
    padding: 0 var(--outer-padding);
    align-items: center;
    justify-content: space-between;

    & #logo svg {
        width: 130px;
        @media screen and (max-width: 767px) {
            width: 106px;
        }
    }

    & nav {
        flex-grow: 1;
        display: flex;
        text-align: center;
        align-items: center;
        justify-items: space-between;
        
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.2rem;
        
        & a {
            padding: 0 1ch;
            &:not(:hover) {
                text-decoration: none;
            }
        }

        & .cta {
            color: white;
            margin-right: 0;
            background: var(--blue);
            &:hover {
                color: var(--blue);
                background: var(--lightblue);
            }
        }
    }
}