/*
    Layout CSS
    - This file focuses on the overarching layout of the cards/pages
*/

main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%); 
    grid-template-rows: var(--header-height) var(--progress-height) auto;

    @media screen and (max-width: 767px) {
        grid-template-rows: var(--header-height) var(--animation-height) auto;
    }

    & .vert-container {
        display: flex;
        flex-direction: column;
    }

    /* article padding */
    & article {
        padding-right: 39px;
        padding-bottom: 65px;
        padding-left: var(--outer-padding);
            
        @media screen and (max-width: 768px) {
            padding: 0 var(--outer-padding) 0;
        }

        /* child spacing */
        & .explanation {
            margin: 1.875rem 0;

            @media screen and (max-width: 768px) {
                margin: 1em 0;
            }
        }
        
        & .answer,
        & .question {
            margin: 0;
        }

        & .statement {
            position: relative;
            margin-bottom: 1.08em;
            place-self: flex-start;

            @media screen and (max-width: 768px) {
                margin: 20px 0;
            }
        }
    }

    & .results {
        display: flex;
        grid-row: 2 / span 2;
        flex-direction: column;
        grid-column: 1 / span 2;

        & .leading_copy {
            margin: 0;
        }

        & .hero {
            display: flex;
            flex-direction: column;
            padding: 1.875rem var(--outer-padding);
            
            @media screen and (min-width: 768px) {
                min-height: 432px;
                padding: 100px var(--outer-padding);
            }

            & .heading {
                display: flex;
                align-items: center;
                margin: 0.66em 0;
                
                @media screen and (max-width: 768px) {
                    margin: .57em 0;

                    & .text {
                        order: 1;
                    }
                }

                & svg {
                    width: 106px;
                    height: 101px;
                    margin-top: -1rem;
                    margin-right: 1.75rem;
            
                    @media screen and (max-width: 767px) {
                        order: 2;
                        width: 70px;
                        height: 65px;
                        margin-right: 0;
                        margin-left: 1.75rem;
                    }
                }
            }

            & .subheading {
                margin: 0;
            }
        }

        & .blog_post {
            display: flex;
            
            @media screen and (min-width: 768px) {
                padding: 11.11vh 0;
                padding-right: var(--outer-padding);
            }

            @media screen and (max-width: 768px) {
                flex-direction: column;
            }

            & article {
                @media screen and (min-width: 768px) {
                    width: 51%;
                }
                @media screen and (max-width: 768px) {
                    padding: 1.875rem 1.25rem;
                }
            }

            & picture {
                align-self: center;
                text-align: center;
                @media screen and (min-width: 768px) {
                    flex-grow: 1;
                }
            }
        }

        & .banner {
            display: flex;
            padding: 15.9vh 0;
            place-content: center;
            
            & .vert-container {
                place-items: center;
            }

            & .heading {
                margin: 0;
            }
        }
    }

    & .animations {
        grid-column: 2;
        grid-row: 1 / span 3;
        
        @media screen and (max-width: 767px) {
            grid-row: 2;
            grid-column: 1 / span 2;
        }

        & lottie-player {
            width: 99%;
            margin: 0 auto;
            min-height: var(--animation-height);
        }
    }

    & .start {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        position: absolute;
        padding-top: var(--header-height);

        & article {
            justify-content: center;
            @media screen and (min-width: 768px) {
                width: 52vw;
            }

            @media screen and (max-width: 767px) {
                margin: 0;
                justify-content: flex-start;
            }
        }
    }

    & .questions {
        display: flex;
        grid-row: 3;
        grid-column: 1;
        
        @media screen and (max-width: 767px) {
            grid-column: 1 / span 2;
        }
    }

    & .progress_bar {
        grid-row: 2;
        grid-column: 1;
        
        @media screen and (max-width: 767px) {
            grid-row: 1;
            grid-column: 2;
        }
    }

    & header {
        grid-row: 1;
        grid-column: 1 / span 2;
    }

    & footer {
        padding: 13.19vh var(--outer-padding);

        & nav {
            display: flex;
            text-align: center;
            place-items: center;

            @media screen and (max-width: 768px) {
                flex-direction: column;
            }

            & a {
                color: var(--blue);
                text-decoration: none;
            }
        }
    }
}

/* answer specific dimensions/z-index */
[answer] {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    position: absolute;
    padding-top: var(--header-height);

    /* background image placement */
    &::before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        position: absolute;
    }

    /* answer decorative line placement */
    & .answer {
        position: relative;

        &::before {
            bottom: 0;
            z-index: -1;
            content: "";
            right: calc(100% + 8px);
            width: 72px;
            position: absolute;
        }
    }

    &[ca="True"] {
        & .answer {
            &::before {
                bottom: 7px;
                height: 7.23px;
            }
        }
    }
    
    &[ca="False"] {
        & .answer {
            &::before {
                height: 35.17px;
            }
        }
    }
    
    & article {
        width: 64vw;
        /* content spacing */
        @media screen and (max-width: 768px) {
            width: 100vw;
            & .explanation {
                padding-bottom: 60px;
            }
        }
    }
}