/*
    Layout CSS
    - This file focuses on the overarching layout of the cards/pages
*/

main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%); 
    grid-template-rows: var(--header-height) var(--progress-height) calc(100vh - (var(--header-height) + var(--progress-height)));

    @media screen and (max-width: 767px) {
        grid-template-rows: var(--header-height) var(--animation-height) auto;
    }

    & .vert-container {
        display: flex;
        flex-direction: column;
    }

    /* article padding */
    & article {
        padding: 0 var(--outer-padding) 65px;
            
        @media screen and (max-width: 768px) {
            padding: 0 var(--outer-padding) 0;
        }
        
        & .answer,
        & .question {
            margin: 0;
        }

        & .statement {
            position: relative;
            margin-bottom: 1.08em;
            place-self: flex-start;

            @media screen and (max-width: 768px) {
                margin: 20px 0;
            }
        }
    }

    & .results {
        display: flex;
        grid-row: 2 / span 2;
        flex-direction: column;
        grid-column: 1 / span 2;

        & .leading_copy {
            margin: 0 auto 47px;
        }

        & .hero {
            display: flex;
            padding: 1.875rem 0;
            align-items: center;
            flex-direction: column;
            
            @media screen and (min-width: 768px) {
                padding: 1.9rem 0;
            }

            & .leading_copy {
                @media screen and (max-width: 767px) {
                    margin: 0px auto 32px;
                }
            }

            & .heading {
                display: flex;
                margin: 35px 0;
                align-items: center;

                @media screen and (max-width: 767px) {
                    width: 100%;
                    text-align: center;
                    margin: .5rem 0 .25rem;

                    & .text {
                        flex-grow: 1;
                    }
                }
            }

            & .subheading {
                margin: 0;
                @media screen and (max-width: 767px) {
                    width: 69%;
                    text-align: center;
                }
            }
        }

        & .blog_post {
            display: flex;
            
            @media screen and (min-width: 768px) {
                padding: 11.11vh 0;
                padding-right: var(--outer-padding);
            }

            @media screen and (max-width: 768px) {
                flex-direction: column;
            }
            
            &.with_image {
                width: 100%;
                padding-right: 0;
                
                &,
                & article {
                    padding-top: 0;
                    padding-bottom: 0;
                    align-self: center;
                }
                & picture {
                    height: 100%;

                    img {
                        height: 100%;
                        max-height: 800px;
                        object-fit: cover;
                        object-position: top;
                        display: block;
                    }
                }

                & article {
                    padding-top: 5rem;
                    padding-bottom: 5rem;

                    @media screen and (max-width: 768px) {
                        padding-top: 3rem;
                        padding-bottom: 3rem;
                    }
                }
            }

            & article,
            & picture {
                flex-grow: 1;
            }

            & article {
                @media screen and (min-width: 768px) {
                    min-width: 51%;
                    max-width: 900px;
                }
                @media screen and (max-width: 768px) {
                    padding: 1.875rem 1.25rem;
                }
            }

            & picture {
                align-self: center;
                text-align: center;
            }

            &.alt {
                padding-right: 0;
                padding-bottom: 6.1vh;
                & article {
                    padding-bottom: 0;
                    max-width: 100%;
                }

                & .heading {
                    margin-top: 0;
                }

                & .body {
                    margin: 0 auto;
                    @media screen and (min-width: 768px) {
                        column-count: 2;
                    }

                    & span {
                        display: block;
                        &:not(:first-child) {
                            margin-top: 0.7rem;
                        }
                    }
                }

                & .cta_container {
                    margin-top: 42px;
                }
            }
        }

        & .banner {
            display: flex;
            padding: 15.9vh 0;
            place-content: center;

            @media screen and (max-width: 767px) {
                padding: 15.9vh 0 10vh;
            }
            
            & .vert-container {
                place-items: center;
            }

            & .heading {
                margin: 0;
            }
        }
    }

    & .animations {
        grid-column: 2;
        grid-row: 1 / span 3;
        overflow: hidden;
        
        @media screen and (max-width: 767px) {
            grid-row: 2;
            grid-column: 1 / span 2;
        }

        & lottie-player {
            width: 100%;
            margin: 0 auto;
            min-height: var(--animation-height);

            @media screen and (max-width: 767px) {
                /* margin: -15% auto; */
                /* min-height: calc(var(--animation-height) * 1.7); */
            }
        }
    }

    & .start {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        padding-top: 52px;
        position: absolute;

        display: flex;
        align-items: center;
        flex-direction: column;

        @media screen and (max-width: 767px) {
            padding-top: var(--header-height);
        }

        & article {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width: 767px) {
                flex-grow: 1;
                flex-direction: column;
                justify-content: flex-start;
            }

            & .hero_body {
                max-width: 500px;

                @media screen and (max-width: 767px) {
                    font-size: .875rem;
                }
            }

            & .hero_subheading {
                width: 100%;
                margin-top: 0;
                text-align: left;
            }

            & .hero_body,
            & .cta_container {
                margin: 0;
            }
            & .cta_container {
                margin-left: 120px;
            }
        }

        & .machine,
        & .logo_container {
            grid-column: 1 / span 2;
        }

        & .logo_container {
            grid-row: 1;
            text-align: center;
            padding-bottom: 62px;
        }

        & .machine {
            width: 100%;
            grid-row: 2;
            max-width: 1064px;
            padding-bottom: 54px;

            @media screen and (max-width: 767px) {
                padding-bottom: 20px;
            }
        }
    }

    & .questions {
        display: flex;
        grid-row: 3;
        grid-column: 1;
        
        @media screen and (max-width: 767px) {
            grid-column: 1 / span 2;
        }
    }

    & .progress {
        grid-row: 2;
        grid-column: 1;
        
        @media screen and (max-width: 767px) {
            grid-row: 1;
            grid-column: 2;
        }
    }

    & header {
        grid-row: 1;
        grid-column: 1 / span 2;
    }

    & footer {
        padding: 13.19vh var(--outer-padding);

        @media screen and (max-width: 767px) {
            padding: 8vh var(--outer-padding);
        }

        & nav {
            display: flex;
            text-align: center;
            place-items: center;
            justify-content: space-between;

            @media screen and (max-width: 768px) {
                flex-direction: column;
            }

            & a {
                color: var(--blue);
                text-decoration: none;

                @media screen and (max-width: 767px) {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

/* answer specific dimensions/z-index */
[answer] {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 0;
    position: absolute;
    
    @media screen and (max-width: 768px) {
        padding-top: 15.84vh;
    }

    /* background image placement */
    &::before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        position: absolute;
    }

    & p, & div {
        margin: 0;
        padding: 0;
        max-width: 740px;
        padding-left: var(--outer-padding);
    }

    & > *:last-child {
        padding-bottom: 72px;
    }
            
    @media screen and (max-width: 768px) {
        & .cta_container {
            padding: 0;
        }
    }
    
    & article {
        width: 64vw;
        /* content spacing */
        @media screen and (max-width: 768px) {
            width: 100vw;
            
            & .explanation {
                padding-bottom: 60px;
            }
        }
    }
}