/*
    Layout CSS
    - This file focuses on the overarching layout of the cards/pages
*/

main {
    display: grid;
    grid-template-columns: repeat(2, 50vw); 
    grid-template-rows: var(--header-height) var(--progress-height) auto;

    @media screen and (max-width: 767px) {
        grid-template-rows: var(--header-height) var(--animation-height) auto;
    }

    /* article padding */
    & article {
        padding-right: 39px;
        padding-bottom: 65px;
        padding-left: var(--outer-padding);
            
        @media screen and (max-width: 768px) {
            padding: 0 var(--outer-padding) 0;
        }

        /* child spacing */
        & .explanation {
            margin: 1.875rem 0;

            @media screen and (max-width: 768px) {
                margin: 1em 0;
            }
        }
        
        & .answer,
        & .question {
            margin: 0;
        }

        & .statement {
            position: relative;
            margin-bottom: 1.08em;
            place-self: flex-start;

            @media screen and (max-width: 768px) {
                margin: 20px 0;
            }
        }
    }

    & .animations {
        grid-column: 2;
        grid-row: 1 / span 3;
        
        @media screen and (max-width: 767px) {
            grid-row: 2;
            grid-column: 1 / span 2;
        }

        & lottie-player {
            min-height: var(--animation-height);
        }
    }

    & .start {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        position: absolute;
        padding-top: var(--header-height);

        & article {
            justify-content: center;
            @media screen and (min-width: 768px) {
                width: 52vw;
            }

            @media screen and (max-width: 767px) {
                margin: 0;
                justify-content: flex-start;
            }
        }
    }

    & .questions {
        display: flex;
        grid-row: 3;
        grid-column: 1;
        
        @media screen and (max-width: 767px) {
            grid-column: 1 / span 2;
        }
    }

    & .progress_bar {
        grid-row: 2;
        grid-column: 1;
        
        @media screen and (max-width: 767px) {
            grid-row: 1;
            grid-column: 2;
        }
    }

    & header {
        grid-row: 1;
        grid-column: 1 / span 2;
    }
}

/* answer specific dimensions/z-index */
[answer] {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    position: absolute;
    padding-top: var(--header-height);

    /* background image placement */
    &::before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        position: absolute;
    }

    /* answer decorative line placement */
    & .answer {
        position: relative;

        &::before {
            bottom: 0;
            z-index: -1;
            content: "";
            right: calc(100% + 8px);
            width: 72px;
            position: absolute;
        }
    }

    &[ca="True"] {
        & .answer {
            &::before {
                bottom: 7px;
                height: 7.23px;
            }
        }
    }
    
    &[ca="False"] {
        & .answer {
            &::before {
                height: 35.17px;
            }
        }
    }
    
    & article {
        width: 64vw;
        /* content spacing */
        @media screen and (max-width: 768px) {
            width: 100vw;
            & .explanation {
                padding-bottom: 60px;
            }
        }
    }
}