section[page] {
    &#question-0 {
        /* Start page background styling */
        background-size: cover;
        background-repeat: no-repeat;
        background-color: var(--blue);
        background-position: center;
        background-image: url("https://fs.hubspotusercontent00.net/hubfs/2661559/Teneo/Work%20from%20Anywhere%20-%20Lie%20Detector/start-hero%20(2).png");

        @media screen and (max-width: 768px) {
            background-size: contain;
            background-position: bottom center;
            background-image: url("https://fs.hubspotusercontent00.net/hubfs/2661559/Teneo/Work%20from%20Anywhere%20-%20Lie%20Detector/stv.png");
        }

        & article {
            /* content font styling */
            color: white;
            
            & .hero_title {
                margin: 0;
                font-weight: 400;
                font-size: 3.75rem;
                font-family: var(--ff-2);
                
                @media screen and (max-width: 768px) {
                    line-height: 1.22;
                    font-size: 2.1875rem;
                }
            }

            & .hero_body,
            & .hero_subheading {
                font-weight: 300;
            }

            & .hero_subheading {
                margin: 1.875rem 0;
                font-size: 1.5rem;
                line-height: 1.58;
    
                @media screen and (max-width: 768px) {
                    margin: 1em 0;
                    font-size: 1.25rem;
                }
            }

            & .hero_body {
                font-size: 1rem;
            }
        }
    }

    /* General content font styling */
    & article {
        & .answer,
        & .explanation {
            font-size: 1.5rem;
            line-height: 1.58;

            @media screen and (max-width: 768px) {
                font-size: 1.25rem;
            }
        }
        
        & .answer {
            margin: 0;
            font-weight: 400;
            line-height: 1.2;
            font-size: 2.5rem;
            font-family: var(--ff-2);
        }

        & .question {
            font-weight: 400;
            font-size: 2.5rem;
            line-height: 3rem;
            font-family: var(--ff-2);

            @media screen and (max-width: 768px) {
                font-size: 1.625rem;
                line-height: 1.38;
            }
        }

        & .statement {
            font-weight: 400;
            font-size: 1.5rem;
            line-height: 1.58;

            @media screen and (max-width: 768px) {
                line-height: 1.4;
                font-size: 1.25rem;
            }
            
            /* Handles text underline */
            &::after {
                left: 0;
                right: 0;
                content: "";
                height: 1px;
                bottom: -1px;
                background: #000;
                position: absolute;
            }
        }
    }

    &.question {
        /* Lie detector background */
        & picture {
            background: #002858;
        }

        /* Question specific cta styling */
        & .cta_container {
            & .cta {
                line-height: var(--size);

                background: white;
                border-radius: 100%;
                border: 1.5px solid var(--orange);
                
                &::before {
                    border-radius: 100%;
                }

                &.secondary {
                    border-color: var(--blue);
                }

                &:hover,
                &.secondary:hover {
                    color: white;
                    border-color: transparent;
                }
            }
        }
    }

    /* Question & Answer styles */
    &[id^="answer-"],
    &[id^="question-"]:not([id="question-0"]) {
        /* CTA design */
        @media screen and (max-width: 768px) {
            & .cta_container {
                & .cta {
                    border: 0;
                    border-radius: 0;
                    background: var(--orange);
                    
                    &.tertiary,
                    &.secondary {
                        color: white;
                        background: var(--blue);
                    }
                    
                    &::before {
                        border-radius: 0;
                    }
                }
            }
        }
    }

    /* Answer styles */
    &[id^="answer-"] {
        /* background image as psuedo element */
        &::before {
            content: "";
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center right;
        }

        & .answer {
            position: relative;

            /* answer decorative line styling */
            &::before {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center right;
            }
        }

        /* Alternate designs for True/False answer */
        &[ca="True"] {
            color: var(--blue);
            background-color: var(--orange);

            & .primary.cta {
                color: white;
                background: var(--blue);
            
                &::before {
                    background: var(--blue-gradient);
                }
            }

            & .tertiary.cta {
                color: var(--blue);
                border-color: var(--blue);

                /* Learn more CTA icon color */
                svg path {
                    stroke: var(--blue);
                }
            }

            &::before {
                /* Card background */
                background-image: url("https://fs.hubspotusercontent00.net/hubfs/2661559/Teneo/Work%20from%20Anywhere%20-%20Lie%20Detector/tbg.png");
            }

            & .answer {
                &::before {
                    /* Answer decorative line  */
                    background-image: url("https://fs.hubspotusercontent00.net/hubfs/2661559/Teneo/Work%20from%20Anywhere%20-%20Lie%20Detector/tbeat.png");
                }
            }
        }

        &[ca="False"] {
            color: white;
            background-color: var(--blue);

            &::before {
                /* Card background */
                background-image: url("https://fs.hubspotusercontent00.net/hubfs/2661559/Teneo/Work%20from%20Anywhere%20-%20Lie%20Detector/fbg.png");
            }

            & .answer {
                &::before {
                    /* Answer decorative line  */
                    background-image: url("https://fs.hubspotusercontent00.net/hubfs/2661559/Teneo/Work%20from%20Anywhere%20-%20Lie%20Detector/fbeat.png");
                }
            }
        }
    }

    /* Results page specific styling, due for renewal post design sign off */
    &#results {
        & .cta {
            color: white;
            background: var(--blue);
            &:hover {
                color: var(--blue);
                background: var(--lightblue);
            }
        }
        & .hero {
            & .heading,
            & .subheading {
                max-width: 633px;
                text-align: center;
                margin: 0 auto 30px;
                line-height: 3.4375rem;
            }

            & .heading {
                font-weight: 700;
                font-size: 2.75rem;
            }
            
            & .subheading {
                font-weight: 600;
                font-size: 2.25rem;
            }
        }
        & article {
            background: rgba(148, 179, 239, 0.28);

            & .leading_copy,
            & .heading,
            & .subheading,
            & .body {
                text-align: left;
            }

            & .leading_copy {
                margin: 34px 0;
                foint-weight: 600;
                font-size: 1.125rem;
            }

            & .heading {
                margin: 0 0 30px;
                font-weight: 700;
                font-size: 2.75rem;
                line-height: 3.4375rem;
            }

            & .subheading {
                margin: 0 0 43px;
                font-weight: 600;
                font-size: 2.25rem;
                line-height: 2.8125rem;
            }

            & .body {
                font-size: 1.125rem;
                line-height: 1.875rem;
            }
        }

        & .villian {
            & .heading,
            & .body {
                text-align: center;
                margin: 0 auto 60px;
            }

            & .heading {
                max-width: 633px;
                font-weight: 700;
                font-size: 2.75rem;
                line-height: 3.4375rem;
            }
            
            & .body {
                max-width: 956px;
                font-size: 1.125rem;
                line-height: 1.875rem;
            }
        }
    }
}