.progress_bar {
    /* Positioning */
    margin: 0;
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0 var(--outer-padding);

    & .indicator {
        /* Indicator dimensions */
        width: 8px;
        height: 8px;
        
        /* Forcing font to be completely hidden */
        font-size: 0;
        color: transparent;
        
        /* background & border styling - makes them circles */
        border-radius: 6px;
        background: white;
        border: 1px solid var(--blue);
        
        /* spacing between indicators */
        &:not(:last-child) {
            margin-right: 4.8px;
        }
    }
}

/* Sets active style for questions seen  */
[name="answer-0"]:checked ~ .progress_bar .indicator-1,
[name="answer-1"]:checked ~ .progress_bar .indicator-2,
[name="answer-2"]:checked ~ .progress_bar .indicator-3,
[name="answer-3"]:checked ~ .progress_bar .indicator-4,
[name="answer-4"]:checked ~ .progress_bar .indicator-5,
[name="answer-5"]:checked ~ .progress_bar .indicator-6,
[name="answer-6"]:checked ~ .progress_bar .indicator-7,
[name="answer-7"]:checked ~ .progress_bar .indicator-8,
[name="answer-8"]:checked ~ .progress_bar .indicator-9,
[name="answer-9"]:checked ~ .progress_bar .indicator-10 {
    background: var(--blue);
}